[Unit]
Description=DCMAnonymize
After=syslog.target network.target remote-fs.target

[Service]
Type=simple
WorkingDirectory=/home/hermes/DCMAnonymize
Restart=always
LimitNOFILE=10000
ExecStart=/usr/bin/storescp --sort-conc-studies --promiscuous -od "/home/hermes/DCMAnonymize/incoming" +uf -xcs "/home/hermes/DCMAnonymize/anonymize.py" 5001

[Install]
WantedBy=multi-user.target